# Certs files
certs/*.key
certs/*.crt
certs/*.req
certs/*.pem
certs/*.srl
certs/root/*
certs/server/*
certs/client/*

# Build Files
build/dataserver
build/geomserver
build/client
build/goclient

# VS Code Related files
.vscode/*
